#textshadow1    {
    text-shadow: 1px 1px;
}

#textshadow2    {
    color: white;
    text-shadow: 1px 1px 4px #000;
}

#textshadow3    {
    text-shadow: 1px 1px 2px #000, 0 0 25px #14D61A, 0 0 5px darkblue;
}

#textshadow4    {
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 25px #14D61A, 0 0 5px darkblue;
}

.text1  {
    white-space: nowrap;
    width: 150px;
    border: 1px solid #000;
    overflow: hidden;
    text-overflow: clip;

}

.text2  {
    white-space: nowrap;
    width: 190px;
    border: 1px solid #000;
    overflow: hidden;
    text-overflow: ellipsis;

}

.text3  {
    white-space: nowrap;
    width: 190px;
    border: 1px solid #000;
    overflow: hidden;

}

.text1:hover    {
    text-overflow: inherit;
    overflow: visible;
}

.text2:hover    {
    text-overflow: inherit;
    overflow: visible;
}


.text3:hover    {
    text-overflow: inherit;
    overflow: visible;
}

.text4  {
    width: 140px;
    border: 1px solid #000;
    word-break: keep-all;
}

.text5  {
    width: 140px;
    border: 1px solid #000;
    word-wrap: break-word;
}
.text6  {
    width: 140px;
    border: 1px solid #000;
    word-break: break-all;
}